* { -webkit-touch-callout : none; -webkit-tap-highlight-color : rgba(0, 0, 0, 0); }

*,
:after,
:before { border : 0; -webkit-box-sizing : border-box; -moz-box-sizing : border-box; box-sizing : border-box; }

html,
body { height : 100%; }

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p{ margin : 0; }
button,
input,
ol,
ul { margin : 0; padding : 0; }

body {
    font-family             : -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    position                : relative;
    line-height             : 1.5;
}

button,
input,
select,
textarea { outline : none; }

input,
button { -webkit-appearance : none; }

input:-webkit-autofill { -webkit-box-shadow : 0 0 0 1000px white inset; }

input,
button,
textarea,
select,
optgroup,
option,
label,
fieldset,
legend { font-family : inherit; font-style : inherit; font-weight : inherit; font-size : 1em; color : inherit; line-height : inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
strong { font-weight : normal; }

table { border-collapse : collapse; border-spacing : 0; }

address,
cite,
dfn,
em,
var { font-style : normal; }

a { text-decoration : none; color : inherit; display : inline-block; cursor: pointer;}

ul,
ol { list-style : none; }
