/*
$Id: general.css 13504 2007-11-08 09:51:13Z weberliu $
*/
/*------------顺时针360度旋转动画-全局通用(CSS3)------------*/
@-webkit-keyframes rotate {
    0% {-webkit-transform:rotate(0deg)}
    100% {-webkit-transform:rotate(360deg)}}
@-moz-keyframes rotate {0% {-moz-transform:rotate(0deg)}
    100% {-moz-transform:rotate(360deg)}}
@-o-keyframes rotate {0% {-o-transform:rotate(0deg)}
    100% {-o-transform:rotate(360deg)}}
@keyframes rotate {0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}}

@-webkit-keyframes rotate-360 {
    0% {-webkit-transform:rotate(0deg)}
    100% {-webkit-transform:rotate(-360deg)}}
@-moz-keyframes rotate-360 {0% {-moz-transform:rotate(0deg)}
    100% {-moz-transform:rotate(-360deg)}}
@-o-keyframes rotate-360 {0% {-o-transform:rotate(0deg)}
    100% {-o-transform:rotate(-360deg)}}
@keyframes rotate-360 {0% {transform:rotate(0deg)}
    100% {transform:rotate(-360deg)}}

/*------------呼吸-全局通用(CSS3)------------*/
@-webkit-keyframes scale {
    0% {-webkit-transform:scale(1,1)}
    50% {-webkit-transform:scale(0.5,0.5)}
    100% {-webkit-transform:scale(1,1)}
}
@-moz-keyframes scale {
    0% {-moz-transform:scale(1,1)}
    50% {-moz-transform:scale(0.5,0.5)}
    100% {-moz-transform:scale(1,1)}
}
@-o-keyframes scale {
    0% {-o-transform:scale(1,1)}
    50% {-o-transform:scale(0.5,0.5)}
    100% {-o-transform:scale(1,1)}
}
@keyframes scale {
    0% {transform:scale(1,1)}
    50% {transform:scale(0.5,0.5)}
    100% {transform:scale(1,1)}
}

.dc {background:#035ca3;}
.login {width:45em; height:21em; background:#fff; position: absolute; left:50%; top:50%; margin:-12em 0 0 -22.5em; border-top:0.25em solid #ffd562; border-radius:0.17em;}

.login .logo {width:43%; height:100%; background:#f6fafc url(../images/logo.png) no-repeat center 39%;float:left; border-right:1px solid #e1f1f7; border-radius:0 0 0 0.25em;}
.login .content {width:43%; height:100%; float:right; margin:1em 7%; position: relative;}
.login .content .title {color:#ff6600;}
.login .content li {margin:0.6em 0;}
.login .content li.vm12 {margin:1.2em 0;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;}

.wbk {width:100%; height:32px; border:1px solid #ccc; position: relative; border-radius:0.25em;}
.wbk input {position:absolute; width:100%; height:100%;line-height:32px; left:0; top:0; border:0; background: transparent; z-index:1; padding-left:32px;border-radius:0.3em;}
.wbk i {position:absolute; width:32px; height:32px; line-height:30px; left:0; top:0; z-index:10; text-align:center; font-size:1.2em; color:#999;}
.img-code {width:80px; height:26px;cursor:pointer; position:absolute; right:2px; top:2px; border-radius:2px; z-index:2;}
.but {display:block; width:46%; height:32px; position: relative; border-radius:5px;cursor:pointer;}
.but em {display:block; width:100%; height:100%;line-height:32px; position: absolute; left:0; top:0; text-align:center; color:#fff;}
.but input {display:none;}
.but.enter {background:#65b63c; float:left;}
.but.reset {background:#ff9900; float:right;}
.but.enter:hover {background:#6fc742;}
.but.enter:active {background:#59a135;}
.but.reset:hover {background:#ffa800;}
.but.reset:active {background:#ff8700;}
.fxk {line-height:32px;}
.wjmm,.wjmm a {color:#888;}
.wjmm a:hover {color:#ff6600;}

.starry {width:60em;height:60em; position:fixed; left:50%; top:50%; margin:-30em 0 0 -30em;  z-index: -1; animation: rotate 30s linear infinite; -webkit-animation: rotate 30s linear infinite; -moz-animation: rotate 30s linear infinite; -o-animation: rotate 30s linear infinite;}
.starry em {display:block; overflow: hidden; background:#fff; width:1%; height:1%; border-radius:100%; position: absolute; filter:alpha(opacity=30); -moz-opacity:0.3; opacity:0.3; animation: scale 4s linear infinite; -webkit-animation: scale 4s linear infinite; -moz-animation: scale 4s linear infinite; -o-animation: scale 4s linear infinite;}
.starry i {display:block; overflow: hidden; background:#fff; width:1%; height:1%; border-radius:100%; position: absolute; filter:alpha(opacity=20); -moz-opacity:0.2; opacity:0.2; animation: scale 3s linear infinite; -webkit-animation: scale 3s linear infinite; -moz-animation: scale 3s linear infinite; -o-animation: scale 3s linear infinite;}
.starry em.r01 {width:1.6%; height:1.6%; left:30%; top:26%;}
.starry em.r02 {width:1.3%; height:1.3%; left:60%; top:20%;}
.starry em.r03 {width:1.4%; height:1.4%; left:51%; top:72%;}
.starry em.r04 {left:30%; top:15%;}
.starry em.r05 {left:50%; top:45%;}
.starry em.r06 {left:75%; top:25%;}
.starry em.r07 {left:15%; top:35%;}
.starry em.r08 {left:25%; top:68%;}
.starry em.r09 {left:70%; top:80%;}
.starry em.r10 {left:22%; top:65%;}
.starry em.r11 {left:55%; top:85%;}
.starry em.r12 {left:40%; top:80%;}
.starry em.r13 {left:60%; top:55%;}
.starry em.r14 {left:40%; top:20%;}
.starry em.r15 {top:20%; left:45%;}
.starry em.r16 {top:75%; left:25%;}
.starry em.r17 {top:10%; left:15%;}
.starry em.r18 {top:25%; left:68%;}
.starry em.r19 {top:60%; left:60%;}
.starry em.r20 {top:22%; left:65%;}
.starry em.r21 {top:15%; left:85%;}
.starry em.r22 {top:85%; left:30%;}
.starry em.r23 {top:60%; left:55%;}
.starry i.r24 {top:10%; left:70%;}
.starry i.r25 {top:45%; left:50%;}
.starry i.r26 {top:30%; left:50%;}
.starry i.r27 {top:40%; left:40%;}
.starry i.r28 {top:72%; left:75%;}
.starry i.r29 {top:60%; left:20%;}
.starry i.r30 {top:50%; left:10%;}
.starry i.r31 {top:40%; left:20%;}
.starry i.r32 {top:30%; left:30%;}
.starry i.r33 {top:20%; left:40%;}
.starry i.r34 {top:10%; left:50%;}
.starry i.r35 {top:70%; left:60%;}
.starry i.r36 {top:30%; left:70%;}
.starry i.r37 {top:40%; left:80%;}
.starry i.r38 {top:50%; left:90%;}
.starry i.r39 {top:60%; left:10%;}

.starry2 {width:100em;height:100em; position:fixed; left:50%; top:50%; margin:-50em 0 0 -50em;  z-index: -1; animation: rotate 100s linear infinite; -webkit-animation: rotate 100s linear infinite; -moz-animation: rotate 100s linear infinite; -o-animation: rotate 100s linear infinite;}
.starry2 em {display:block; overflow: hidden; background:#fff; width:0.5%; height:0.5%; border-radius:100%; position: absolute; filter:alpha(opacity=10); -moz-opacity:0.1; opacity:0.1; animation: scale 4s linear infinite; -webkit-animation: scale 4s linear infinite; -moz-animation: scale 4s linear infinite; -o-animation: scale 4s linear infinite;}
.starry2 i {display:block; overflow: hidden; background:#fff; width:0.4%; height:0.4%; border-radius:100%; position: absolute; filter:alpha(opacity=20); -moz-opacity:0.2; opacity:0.2; animation: scale 3s linear infinite; -webkit-animation: scale 3s linear infinite; -moz-animation: scale 3s linear infinite; -o-animation: scale 3s linear infinite;}
.starry2 em.r01 {width:0.6%; height:0.6%; left:30%; top:26%;}
.starry2 em.r02 {width:0.3%; height:0.3%; left:60%; top:20%;}
.starry2 em.r03 {width:0.4%; height:0.4%; left:51%; top:72%;}
.starry2 em.r04 {left:30%; top:15%;}
.starry2 em.r05 {left:50%; top:45%;}
.starry2 em.r06 {left:75%; top:25%;}
.starry2 em.r07 {left:15%; top:35%;}
.starry2 em.r08 {left:25%; top:68%;}
.starry2 em.r09 {left:70%; top:80%;}
.starry2 em.r10 {left:22%; top:65%;}
.starry2 em.r11 {left:55%; top:85%;}
.starry2 em.r12 {left:40%; top:80%;}
.starry2 em.r13 {left:60%; top:55%;}
.starry2 em.r14 {left:40%; top:70%;}
.starry2 em.r15 {top:20%; left:45%;}
.starry2 em.r16 {top:75%; left:25%;}
.starry2 em.r17 {top:10%; left:15%;}
.starry2 em.r18 {top:25%; left:68%;}
.starry2 em.r19 {top:60%; left:60%;}
.starry2 em.r20 {top:22%; left:65%;}
.starry2 em.r21 {top:15%; left:85%;}
.starry2 em.r22 {top:85%; left:30%;}
.starry2 em.r23 {top:60%; left:55%;}
.starry2 i.r24 {top:10%; left:70%;}
.starry2 i.r25 {top:45%; left:50%;}
.starry2 i.r26 {top:30%; left:50%;}
.starry2 i.r27 {top:40%; left:40%;}
.starry2 i.r28 {top:72%; left:75%;}
.starry2 i.r29 {top:60%; left:20%;}
.starry2 i.r30 {top:50%; left:10%;}
.starry2 i.r31 {top:40%; left:20%;}
.starry2 i.r32 {top:30%; left:30%;}
.starry2 i.r33 {top:20%; left:40%;}
.starry2 i.r34 {top:10%; left:50%;}
.starry2 i.r35 {top:70%; left:60%;}
.starry2 i.r36 {top:30%; left:70%;}
.starry2 i.r37 {top:40%; left:80%;}
.starry2 i.r38 {top:50%; left:90%;}
.starry2 i.r39 {top:60%; left:10%;}

/*------fxk(css+js) sta------*/
.fxkbox {cursor:pointer;}
.fxkbox em {display: inline-block; width: 24px; height: 13px; border: 1px solid #ddd; border-radius: 3px; position: relative; top: 2px; margin-right: 5px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.fxkbox em b {display: block; position: absolute; font-size: 7px; width: 13px; height: 13px; overflow: hidden; color: #fff; text-align: center; line-height: 13px; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -o-transition: all 0.6s ease; transition: all 0.6s ease;}
.fxkbox em b.n {left:-2px; top:-1px; background:#ff9600; border-radius:3px 0 0 3px;}
.fxkbox em b.o {left: 12px; top: -1px; background: #6fc742; border-radius: 0 3px 3px 0;}
.fxk {display:none;}
/*------fxk(css+js) end------*/