﻿@charset "utf-8";
/*------------------------ Reset ------------------------*/
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html, body {min-height: 100%;}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, button {margin: 0;}
input, ol, ul {margin: 0;padding: 0;}
body {font-family:Arial,Tahoma, Helvetica, "\5FAE\8F6F\96C5\9ED1", "\5b8b\4f53", sans-serif; color: #333;}
/*使得表单元素在老版 ie下能继承字体大小 */
button,input,select,textarea{outline:none}
/*使得表单元素可以继承父元素的字体样式 */
input, button, textarea, select, optgroup, option, label, fieldset, legend {font-family: inherit;  font-size: inherit;  font-style: inherit;  font-weight: inherit;}
/*清除标题，强调等标签的粗体 */
h1, h2, h3, h4, h5, h6, strong {font-style: normal;font-weight: normal;}
/*预设标题文字大小*/
h1{font-size: 2.0em}
h2{font-size: 1.8em}
h3{font-size: 1.6em}
h4{font-size: 1.5em}
h5{font-size: 1.4em}
h6 {font-size: 1.2em}

/*预设标题文字大小*/
.s .ss{font-size:6px}
.s .sm{font-size:8px}
.s .sx{font-size:10px}
.s .ms{font-size:12px}
.s .mm{font-size:14px}
.s .mx{font-size:16px}
.s .xs{font-size:18px}
.s .xm{font-size:20px}
.s .xx{font-size:24px}

.m .ss{font-size:8px}
.m .sm{font-size:10px}
.m .sx{font-size:12px}
.m .ms{font-size:14px}
.m .mm{font-size:16px}
.m .mx{font-size:18px}
.m .xs{font-size:20px}
.m .xm{font-size:24px}
.m .xx{font-size:28px}

.x .ss{font-size:10px}
.x .sm{font-size:12px}
.x .sx{font-size:14px}
.x .ms{font-size:16px}
.x .mm{font-size:18px}
.x .mx{font-size:20px}
.x .xs{font-size:24px}
.x .xm{font-size:28px}
.x .xx{font-size:32px}
button, input, select, textarea {font-size:1em;}

/*清除图片加链接时在IE中默认有边框*/
img {border: 0}
/*清除表格单元格间距*/
table {border-collapse: collapse; border-spacing: 0}
/* 将斜体标签设为正体 */
address, cite, dfn, em, var {font-style: normal}
/* 预设链接文字样式 */
a {color: #333; text-decoration: none}
a:hover {color: #f60;text-decoration: none}
ul.no, ol.no {list-style: none}
ul.xul li, ol.xul li {float:left;}

/*------------------------ Base ------------------------*/
.whc {margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;}
.xyc {margin: auto; position: fixed; top: 0; left: 0; bottom: 0; right: 0;}

.wc {margin: auto; position: absolute; left: 0; right: 0;}
.hc {margin: auto; position: absolute; top: 0; bottom: 0;}
/*------align (common） ------*/
.al {text-align: left}
.ar {text-align: right}
.ac {text-align: center}
.mc {margin:0 auto;}

.por {position:relative}
.poa {position:absolute}
.pof {position:fixed}
.fl{float:left}
.fr{float:right}
.fn{clear:both}
.block {display:block;}

.dcc {background-position: center center;}
.dlc {background-position: left center;}
.drc {background-position: right center;}
.dct {background-position: center top;}
.dcb {background-position: center bottom;}
.dlt {background-position: left top;}
.dlb {background-position: left bottom;}
.drt {background-position: right top;}
.drb {background-position: right bottom;}
.dnr {background-repeat: no-repeat}
.dxr {background-repeat: repeat-x}
.dyr {background-repeat: repeat-y}