
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yanzhengma:before { content: "\e600"; }
.icon-saoma:before { content: "\e601"; }
.icon-saoma1:before { content: "\e602"; }
.icon-delete:before { content: "\e603"; }
.icon-edit:before { content: "\e604"; }
.icon-password:before { content: "\e605"; }
.icon-save:before { content: "\e606"; }
.icon-user:before { content: "\e607"; }
